# Site
title: {{ conf_title }}
subtitle: {{ conf_subtitle }}
description: {{ conf_description }}
keywords: {{ conf_keywords }}
author: {{ conf_author }}
language: {{ conf_language }}
timezone: {{ conf_timezone }}
theme: {{ conf_theme }}